*{

}

#rooting_map{
	background-color: #FFFFFF;
	position: 				relative;
	z-index: 					1;
	height: 					30%;
	width: 						100%;

	#menu_bar{
		margin: 					0 auto;
		width: 						70%;
		height: 					40px;

		a{
			margin-left: 		20px;
			padding-left:   5px;
			padding-right:  5px;
			text-decoration: none;
			color: 					#999999;
			font-size: 			1.2rem;
			line-height:  	40px;
			border-bottom:  solid 2px rgba( 0, 0, 0, 0 );
			transition: 		0.2s;
		}

		a:hover{
			border-bottom:  solid 2px #666666;
			color: 					#666666;
			transition: 		0.4s;
		}
	}
}

#contents{
	z-index: 					0;
	position: 				relative;
	height: 					70%;
	width: 						100%;
}